h2{
    color: magenta;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.footer {
    background: #062b72;
    color: white;
    padding: 50px 6%;
}
.footer-top h2 {
    font-size: 26px;
    margin-bottom: 28px;
}
